#profile_img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
#profile_img p{
    font-weight: 700;
    font-size: 20px;
}
.btn{
    font-size: 20px;
    position: absolute;
    right:15%;
    top: 50px;
    transform: scaleX(-1);
    padding: 12.5px;
    border: 1px dashed #98A2B3;
    border-radius: 50%;
    color: #98A2B3;
    cursor: pointer;
}
.img{
    position: relative;
}
.img img{
    width: 88px;
    height: 88px;
    border-radius: 50%;
}
.img .camera-div{
    position: absolute;
    top: 0;
    left: 0;
    width: 88px;
    height: 88px;
    background: rgba(0, 0, 0, 0);
    border-radius: 50%;
    z-index: 10;
    color:transparent ;
}
.camera-div .camera{
    position: absolute;
    bottom: 10%;
    left: 42%;
}
.img .camera-div:hover{
    cursor: pointer;
    background:rgba(0, 0, 0,0.5);
    color: #F9FAFB;
}
#slack{
    display: none;
}
.btn2{
    display: none;
}
.btn:hover{
    background: #D0D5DD;
    color: #667085;
}
.btn:disabled{
    background:#F9FAFB;
    color: #EAECF0;
}
.btn:focus{
    background:#FFFFFF;
    color: #D0D5DD;
    box-shadow: 0 0 0 4px #F2F4F7;
}
.closed{
    display: block;
}
@media screen and (max-width: 900px) {
    .btn1{
        border: 1px solid #98A2B3 ;
        background: #D0D5DD;
        color: #667085;
    }
    .btn2{
        display: flex;
    }
  .closed{
    display: none;
  }
}