.app{
  padding: 64px 112px;
  font-size: 18px;
  font-family: 'Inter', sans-serif;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 32px;
}
@media screen and (max-width: 900px) {
  .app{
    padding: 64px 16px;
    
  }
}